.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid #E0E1E9; */
    /* padding-bottom: 15px; */
    background-color: #fff;

}