.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}
.overly {
  width: 100%;
  height: 100%;
  background-color: #818181ad;
  z-index: 1;
}
.modalContent {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}
