.table {
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 1px 1px 1px #11111111;
  font-weight: 700;
}
.table th {
  padding: 0.3rem;
  /* border-bottom: 1px solid #cfcfcfc7; */
}

.table th,
.table td {
  /* border: 1px solid; */
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}
